In [1]:
print("hi")

hi

In [7]:
# simple for loop (string)
str='srujana'
for i in str:
    print(i, end=' ')

s r u j a n a

In [9]:
# list of strings
s=['cat','dog','fish']
for pet in s:
    print(pet)

cat
dog
fish

In [21]:
#for with-in range 
n=int(input("enter the value of n"))
for i in range(21,n+1,-1):
    print(i,end=' ')

enter the value of n 15

21 20 19 18 17

In [25]:
n=int(input("enter a number"))
for i in range(1,n+1):
    print(i,end=' ')
for i in range(n, 0, -2):
    print(i, end=' ')

enter a number 10

1 2 3 4 5 6 7 8 9 10 10 8 6 4 2

In [44]:
'''code for printing multiplication table of n, where n is entered by the user
input:
enter any number:2
output:
multiplication table of 2
*************************'''
n=int(input("enter any number"))
print("Multiplication table of",n)
print("***************************")
s=int(input("enter a number of u need"))
for i in range(0,s+1):
    res=n*i
    print(n,"X",i,"=",res)

enter any number 12

Multiplication table of 12
***************************

enter a number of u need 15

12 X 0 = 0
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120
12 X 11 = 132
12 X 12 = 144
12 X 13 = 156
12 X 14 = 168
12 X 15 = 180

In [46]:
#program to display all the leap years from 1900,2101
n=int(input("enter the starting year:"))
s=int(input("enter the ending year:"))
for i in range(n,s+1):
    if i%4==0:
        print(i, end=' ')

enter the starting year: 1900
enter the ending year: 2101

1900 1904 1908 1912 1916 1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016 2020 2024 2028 2032 2036 2040 2044 2048 2052 2056 2060 2064 2068 2072 2076 2080 2084 2088 2092 2096 2100

In [62]:
n=int(input("enter a number"))
s=0
for i in range(1,n+1):
    a=1/(i**2)
    s=s+a
print(s)

enter a number 5

1.4636111111111112

In [76]:
'''generating calendar manually'''
mdays=31
sday=2

print("Sun Mon Tue Wed Thu Fri Sat")
for _ in range(sday):
    print("  ", end=' ')
for days in range(1, mdays+1):
    print(f"{days: >3} ",end='')
    if(sday+days) %7 ==0:
        print()

Sun Mon Tue Wed Thu Fri Sat
        1   2   3   4   5
  6   7   8   9  10  11  12
 13  14  15  16  17  18  19
 20  21  22  23  24  25  26
 27  28  29  30  31